<p>No worries! Enter your email address below and we'll send you a temporary one. Just make sure to check your spam folder for our email!</p>
{{paper-input label="Email" type="email" value=emailValue required=true customValidation=emailValidation}}
{{#paper-button raised=true primary=true action="forgotSubmit" class="float-right"}}Submit{{/paper-button}}
