<p>No worries! Enter your email address below and we'll send you a temporary one. Just make sure to check your spam folder for our email!</p>
{{paper-input label="Email" type="email" class="spec-forgot-email-input" value=emailValue required=true customValidation=emailValidation}}
{{#paper-button raised=true primary=true action="forgotSubmit" disabled=disableSubmit class="float-right spec-forgot-submit-button"}}Submit{{/paper-button}}
