* {
  box-sizing: border-box;
}

body {
  height: auto;
  margin-top: $toolbar-height;
  padding-bottom: 60px;

  @include calc(min-height, '100% - 64px');
  & > .ember-view {
    overflow: auto;
  }
}

body > .md-select-menu-container {
  overflow: visible;
}